<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="text.Properties.Settings.DOANConnectionString" connectionString="Data Source=LAPTOP-81T9BP2Q\SQLEXPRESS;Initial Catalog=DOAN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="text.Properties.Settings.DataConnectionString" connectionString="Data Source=LAPTOP-81T9BP2Q\SQLEXPRESS;Initial Catalog=Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="text.Properties.Settings.DATA2ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DATA2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>